
<section>
    <div>
        <h1>Singout Page</h1>
        <button class="btn btn-primary">Submit</button>
    </div>
</section>


<script>
    $(document).ready(function(){
        alert("Hello");
    });
</script>